
/VS-project/mVRP/Debug/*
/VS-project/mVRP/.vs/*
*.db

*.ipch

*.txt

VS-project/mVRP/enc_temp_folder/fdc8ea1ff536823c3385dd1711f916/

VS-project/mVRP/enc_temp_folder/d876f3918e8c5dbc9f54773f8ac9c/

*.obj

*.exe

*.iobj

*.ipdb

*.log

*.pdb

*.tlog

VS-project/mVRP/enc_temp_folder/43fe835a8ad6fd70d846682ca9ff439e/

VS-project/mVRP/enc_temp_folder/b1a1d43f4e88ceacf92d1aea799b393/
