
/VS-project/mVRP/Debug/*
/VS-project/mVRP/.vs/*
*.db

*.ipch

*.txt

VS-project/mVRP/enc_temp_folder/fdc8ea1ff536823c3385dd1711f916/

VS-project/mVRP/enc_temp_folder/d876f3918e8c5dbc9f54773f8ac9c/

*.obj

*.exe

*.iobj

*.ipdb

*.log

*.pdb

*.tlog
